<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".heard_info_heard"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".heard_info_home"),  root_path %></li>
        <li><%= link_to t(".heard_info_help"),  helf_path %></li>
        <li><%= link_to t(".heard_info_login"), '#' %></li>
      </ul>
    </nav>
  </div>
</header>